# Load packages

In [1]:
import pandas as pd

# `orders_` data load

## `orders_January`

In [2]:
orders_January = pd.read_excel("data/orders_January.xlsx")

orders_January.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,User:,Javier Ressogola,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Last Refresh:,2025-02-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate,Comments
8,NaN,NaN,O100000,C0378,Customer 378,P0228,15,20/01/2025,26/01/2025,Inform customer once order is sent
9,NaN,NaN,O100001,C0818,Customer 818,P0350,9,17/01/2025,01-18-2025,NaN

Due to the fact that the data was extracted from SAP, we must perform some transformations.

**Transformations:**
* skip first 7 rows;
* set the 8th row as column names;
* select only columns containing information (all except the first two).

In [3]:
orders_January = pd.read_excel("data/orders_January.xlsx", skiprows=7, header=1).iloc[:, 2:]

orders_January.head(10)

,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate,Comments
0,O100000,C0378,Customer 378,P0228,15,20/01/2025,26/01/2025,Inform customer once order is sent
1,O100001,C0818,Customer 818,P0350,9,17/01/2025,01-18-2025,NaN
2,O100002,C0684,Customer 684,P0555,20,01-02-2025,03/01/2025,Pay in 90 days
3,O100003,C0802,Customer 802,P0044,4,2025-01-12,14/01/2025,Inform customer once order is sent
4,O100004,C0677,Customer 677,P0071,11,17/01/2025,2025-01-26,Inform customer once order is sent
5,O100005,C0599,Customer 599,P0417,16,2025-01-05,12/01/2025,Inform customer once order is sent
6,O100006,C0994,Customer 994,P0738,7,2025-01-19,25/01/2025,NaN
7,O100007,C0183,Customer 183,P0457,18,2025-01-27,2025-01-30,Pay in 90 days
8,O100008,C0797,Customer 797,P0044,19,2025-01-26,03/02/2025,Pay in 90 days
9,O100009,C0002,Customer 2,P0822,3,01-22-2025,2025-01-28,NaN

**Notes:**
* We shall consider removing the `CustomerName` column because it contains the same information as `CustomerID`.
* Dates in `OrderDate` and `RequastedDeliveryDate` are not consistently encoded.

## `orders_February`

In [4]:
orders_February = pd.read_excel("data/orders_February.xlsx")

orders_February.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,User:,Javier Ressogola,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Last Refresh:,2025-03-01 08:24:00,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate,Comments
9,NaN,NaN,O108000,C0748,Customer 748,P0501,19,2025-02-09,02-13-2025,Pay in 90 days

**Transformations:**
* skip first 8 rows;
* set the 9th row as column names;
* select only columns containing information (all except the first two).

In [5]:
orders_February = pd.read_excel("data/orders_February.xlsx", skiprows=8, header=1).iloc[:, 2:]

orders_February.head(10)

,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate,Comments
0,O108000,C0748,Customer 748,P0501,19,2025-02-09,02-13-2025,Pay in 90 days
1,O108001,C0049,Customer 49,P0653,16,02-19-2025,02-25-2025,Inform customer once order is sent
2,O108002,C0358,Customer 358,P0728,7,26/02/2025,03-08-2025,Inform customer once order is sent
3,O108003,C0886,Customer 886,P0015,15,2025-02-23,03-05-2025,Inform customer once order is sent
4,O108004,C0339,Customer 339,P0472,18,02-04-2025,11/02/2025,Inform customer once order is sent
5,O108005,C0355,Customer 355,P0618,2,02-11-2025,02-15-2025,Pay in 90 days
6,O108006,C0944,Customer 944,P0599,7,28/02/2025,2025-03-01,Pay in 90 days
7,O108007,C0007,Customer 7,P0884,17,19/02/2025,02-22-2025,NaN
8,O108008,C0009,Customer 9,P0193,9,2025-02-14,02-20-2025,Pay in 90 days
9,O108009,C0661,Customer 661,P0472,6,17/02/2025,26/02/2025,NaN

**Notes:**
* We shall consider removing the `CustomerName` column because it contains the same information as `CustomerID`.
* Dates in `OrderDate` and `RequastedDeliveryDate` are not consistently encoded.

## `orders_March`

In [6]:
orders_March = pd.read_excel("data/orders_March_bot.xlsx")

orders_March.head(10)

,"User: Javier Ressogola Last Refresh: Tuesday, April 1, 2025, 0:00:00",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate,Comments
1,O116000,C0835,Customer 835,P0325,3,23/03/2025,24/03/2025,Pay in 90 days
2,O116001,C0754,Customer 754,P0332,11,2025-03-09,2025-03-11,NaN
3,O116002,C0760,Customer 760,P0572,15,2025-03-13,2025-03-23,NaN
4,O116003,C0790,Customer 790,P0433,4,03-25-2025,26/03/2025,NaN
5,O116004,C0163,Customer 163,P0723,16,26/03/2025,2025-04-05,Inform customer once order is sent
6,O116005,C0263,Customer 263,P0118,7,2025-03-12,16/03/2025,Inform customer once order is sent
7,O116006,C0532,Customer 532,P0808,20,12/03/2025,20/03/2025,NaN
8,O116007,C0700,Customer 700,P0311,7,2025-03-24,03/04/2025,NaN
9,O116008,C0781,Customer 781,P0009,11,03-22-2025,2025-03-25,Inform customer once order is sent

**Transformations:**
* set the first row as column names.

In [7]:
orders_March = pd.read_excel("data/orders_March_bot.xlsx", header = 1)

orders_March.head(10)

,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate,Comments
0,O116000,C0835,Customer 835,P0325,3,23/03/2025,24/03/2025,Pay in 90 days
1,O116001,C0754,Customer 754,P0332,11,2025-03-09,2025-03-11,NaN
2,O116002,C0760,Customer 760,P0572,15,2025-03-13,2025-03-23,NaN
3,O116003,C0790,Customer 790,P0433,4,03-25-2025,26/03/2025,NaN
4,O116004,C0163,Customer 163,P0723,16,26/03/2025,2025-04-05,Inform customer once order is sent
5,O116005,C0263,Customer 263,P0118,7,2025-03-12,16/03/2025,Inform customer once order is sent
6,O116006,C0532,Customer 532,P0808,20,12/03/2025,20/03/2025,NaN
7,O116007,C0700,Customer 700,P0311,7,2025-03-24,03/04/2025,NaN
8,O116008,C0781,Customer 781,P0009,11,03-22-2025,2025-03-25,Inform customer once order is sent
9,O116009,C0998,Customer 998,P0771,13,03-12-2025,17/03/2025,NaN

**Notes:**
* We shall consider removing the `CustomerName` column because it contains the same information as `CustomerID`.
* Dates in `OrderDate` and `RequastedDeliveryDate` are not consistently encoded.

## `orders_April`

In [8]:
orders_April = pd.read_excel("data/orders_April.xlsx")

orders_April.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,User:,Jessy Lazkani,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Last Refresh:,2025-05-01 10:33:30,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate,Comments
8,NaN,NaN,O124000,C0800,Customer 800,P0649,6,04-11-2025,17/04/2025,NaN
9,NaN,NaN,O124001,C0118,Customer 118,P0086,18,20/04/2025,25/04/2025,Pay in 90 days

**Transformations:**
* skip first 7 rows;
* set the 8th row as column names;
* select only columns containing information (all except the first two).

In [9]:
orders_April = pd.read_excel("data/orders_April.xlsx", skiprows=7, header=1).iloc[:, 2:]

orders_April.head(10)

,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate,Comments
0,O124000,C0800,Customer 800,P0649,6,04-11-2025,17/04/2025,NaN
1,O124001,C0118,Customer 118,P0086,18,20/04/2025,25/04/2025,Pay in 90 days
2,O124002,C0254,Customer 254,P0236,14,08/04/2025,10/04/2025,NaN
3,O124003,C0169,Customer 169,P0492,6,25/04/2025,04-28-2025,NaN
4,O124004,C0388,Customer 388,P0391,17,2025-04-14,2025-04-23,NaN
5,O124005,C0192,Customer 192,P0292,3,04-09-2025,2025-04-13,Inform customer once order is sent
6,O124006,C0447,Customer 447,P0130,8,2025-04-09,2025-04-15,Inform customer once order is sent
7,O124007,C0890,Customer 890,P0532,18,2025-04-19,04-29-2025,Pay in 90 days
8,O124008,C0337,Customer 337,P0883,20,13/04/2025,2025-04-15,Pay in 90 days
9,O124009,C0043,Customer 43,P0006,11,2025-04-10,2025-04-12,Pay in 90 days

**Notes:**
* We shall consider removing the `CustomerName` column because it contains the same information as `CustomerID`.
* Dates in `OrderDate` and `RequastedDeliveryDate` are not consistently encoded.

## `orders_May`

In [10]:
orders_May = pd.read_excel("data/orders_May.xlsx")

orders_May.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,User:,Javier Ressogola,NaN,NaN,NaN,NaN,NaN
5,NaN,Last Refresh:,2025-06-01 00:00:00,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate
8,NaN,O132000,C0632,Customer 632,P0542,3,05/05/2025,05-08-2025
9,NaN,O132001,C0669,Customer 669,P0427,17,05-03-2025,05-04-2025

**Transformations:**
* skip first 7 rows;
* set the 8th row as column names;
* select only columns containing information (all except the first column).

In [11]:
orders_May = pd.read_excel("data/orders_May.xlsx", skiprows=7, header=1).iloc[:, 1:]

orders_May.head(10)

,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate
0,O132000,C0632,Customer 632,P0542,3,05/05/2025,05-08-2025
1,O132001,C0669,Customer 669,P0427,17,05-03-2025,05-04-2025
2,O132002,C0039,Customer 39,P0054,4,06/05/2025,05-11-2025
3,O132003,C0132,Customer 132,P0754,13,05-04-2025,05-07-2025
4,O132004,C0319,Customer 319,P0287,7,05-02-2025,2025-05-11
5,O132005,C0294,Customer 294,P0131,16,2025-05-15,2025-05-17
6,O132006,C0043,Customer 43,P0036,7,05-17-2025,05-26-2025
7,O132007,C0457,Customer 457,P0883,12,05-26-2025,03/06/2025
8,O132008,C0343,Customer 343,P0104,9,01/05/2025,03/05/2025
9,O132009,C0108,Customer 108,P0759,1,05-27-2025,02/06/2025

**Notes:**
* This is the firt orders table without the `Comments` column. It is yet unknown if the mentioned column would be useful for the analysis later.
* We shall consider removing the `CustomerName` column because it contains the same information as `CustomerID`.
* Dates in `OrderDate` and `RequastedDeliveryDate` are not consistently encoded.

## `orders_June`

In [12]:
orders_June = pd.read_excel("data/orders_June.xlsx")

orders_June.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,User:,Javier Ressogola,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Last Refresh:,2025-07-01 00:55:23,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate,Comments
8,NaN,NaN,O140000,C0941,Customer 941,P0515,9,10/06/2025,17/06/2025,Inform customer once order is sent
9,NaN,NaN,O140001,C0894,Customer 894,P0117,2,26/06/2025,06-27-2025,NaN

**Transformations:**
* skip first 7 rows;
* set the 8th row as column names;
* select only columns containing information (all except the first two columns).

In [13]:
orders_June = pd.read_excel("data/orders_June.xlsx", skiprows=7, header=1).iloc[:, 2:]

orders_June.head(10)

,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate,Comments
0,O140000,C0941,Customer 941,P0515,9,10/06/2025,17/06/2025,Inform customer once order is sent
1,O140001,C0894,Customer 894,P0117,2,26/06/2025,06-27-2025,NaN
2,O140002,C0293,Customer 293,P0645,7,21/06/2025,2025-06-27,NaN
3,O140003,C0397,Customer 397,P0804,12,18/06/2025,2025-06-22,NaN
4,O140004,C0100,Customer 100,P0774,19,2025-06-23,2025-06-30,Inform customer once order is sent
5,O140005,C0040,Customer 40,P0270,1,08/06/2025,2025-06-17,Pay in 90 days
6,O140006,C0979,Customer 979,P0295,6,2025-06-20,06-25-2025,NaN
7,O140007,C0877,Customer 877,P0400,15,16/06/2025,06-22-2025,NaN
8,O140008,C1000,Customer 1000,P0035,9,01/06/2025,2025-06-05,NaN
9,O140009,C0333,Customer 333,P0472,14,06/06/2025,2025-06-16,NaN

**Notes:**
* We shall consider removing the `CustomerName` column because it contains the same information as `CustomerID`.
* Dates in `OrderDate` and `RequastedDeliveryDate` are not consistently encoded.

## `orders_July`

In [14]:
orders_July = pd.read_excel("data/orders_July.xlsx")

orders_July.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,User:,Javier Ressogola,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Last Refresh:,2025-08-01 11:06:24,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,OrderID,CustomerID,CustomerName,Column1,Quantity,OrderDate,RequestedDeliveryDate,Comments
8,NaN,NaN,O148000,C0509,Customer 509,PRODUCT-P0586,8,05/07/2025,11/07/2025,NaN
9,NaN,NaN,O148001,C0773,Customer 773,PRODUCT-P0666,18,13/07/2025,17/07/2025,NaN

**Transformations:**
* skip first 7 rows;
* set the 8th row as column names;
* select only columns containing information (all except the first two columns).

In [15]:
orders_July = pd.read_excel("data/orders_July.xlsx", skiprows=7, header=1).iloc[:, 2:]

orders_July.head(10)

,OrderID,CustomerID,CustomerName,Column1,Quantity,OrderDate,RequestedDeliveryDate,Comments
0,O148000,C0509,Customer 509,PRODUCT-P0586,8,05/07/2025,11/07/2025,NaN
1,O148001,C0773,Customer 773,PRODUCT-P0666,18,13/07/2025,17/07/2025,NaN
2,O148002,C0295,Customer 295,PRODUCT-P0610,13,07-08-2025,07-18-2025,Pay in 90 days
3,O148003,C0638,Customer 638,PRODUCT-P0083,4,03/07/2025,07-08-2025,NaN
4,O148004,C0761,Customer 761,PRODUCT-P0713,18,07-23-2025,28/07/2025,Inform customer once order is sent
5,O148005,C0191,Customer 191,PRODUCT-P0445,12,07-01-2025,07-02-2025,Inform customer once order is sent
6,O148006,C0554,Customer 554,PRODUCT-P0542,18,07-10-2025,2025-07-16,NaN
7,O148007,C0588,Customer 588,PRODUCT-P0023,7,2025-07-26,07-31-2025,NaN
8,O148008,C0359,Customer 359,PRODUCT-P0553,13,07-28-2025,2025-08-07,Pay in 90 days
9,O148009,C0039,Customer 39,PRODUCT-P0738,4,10/07/2025,2025-07-15,Inform customer once order is sent

**Notes:** 
* There is a column containing ProductID (without a proper column name) formatted differently than in the rest of orders tables. We should delete the 'PRODUCT-' prefix in all rows.
* We shall consider removing the `CustomerName` column because it contains the same information as `CustomerID`.
* Dates in `OrderDate` and `RequastedDeliveryDate` are not consistently encoded.

## `orders_August`

In [16]:
orders_August = pd.read_excel("data/orders_August.xlsx")

orders_August.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,User:,Jessy Lazkani,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Last Refresh:,2025-09-01 00:45:03,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
8,NaN,NaN,O156000,C0118,Customer 118,P0400,11,08-18-2025,08-23-2025,NaN
9,NaN,NaN,O156001,C0221,Customer 221,P0125,4,2025-08-07,08-14-2025,Inform customer once order is sent

**Transformations:**
* skip first 7 rows;
* set the 8th row as column names;
* select only columns containing information (all except the first two columns).

In [17]:
orders_August = pd.read_excel("data/orders_August.xlsx", skiprows=7, header=1).iloc[:, 2:]

orders_August.head(10)

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,O156000,C0118,Customer 118,P0400,11,08-18-2025,08-23-2025,NaN
1,O156001,C0221,Customer 221,P0125,4,2025-08-07,08-14-2025,Inform customer once order is sent
2,O156002,C0977,Customer 977,P0371,10,06/08/2025,08-09-2025,Inform customer once order is sent
3,O156003,C0754,Customer 754,P0369,15,23/08/2025,2025-08-31,Inform customer once order is sent
4,O156004,C0491,Customer 491,P0428,1,08-24-2025,01/09/2025,Inform customer once order is sent
5,O156005,C0669,Customer 669,P0332,4,08-04-2025,11/08/2025,NaN
6,O156006,C0378,Customer 378,P0093,11,2025-08-01,2025-08-05,Pay in 90 days
7,O156007,C0904,Customer 904,P0895,6,01/08/2025,08/08/2025,Inform customer once order is sent
8,O156008,C0272,Customer 272,P0333,8,2025-08-02,08-05-2025,Inform customer once order is sent
9,O156009,C0079,Customer 79,P0508,11,08-02-2025,08/08/2025,Inform customer once order is sent

**Notes:** 
* We will have to set proper column names. `OrderDate` column should be the one with 'earlier' dates than in the `RequestedDeliveryDate` column.
* We shall consider removing the `CustomerName` column because it contains the same information as `CustomerID`.
* Dates in columns conatining dates are not consistently encoded.

## `orders_September`

In [18]:
orders_September = pd.read_excel("data/orders_September.xlsx")

orders_September.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,User:,Javier Ressogola,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Last Refresh:,2025-10-01 18:05:00,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,OrderID,CustomerID,CustomerName,ProductID,Quantity,RequestedDeliveryDate,OrderDate
8,NaN,NaN,O164000,C0134,Customer 134,P0547,18,11/09/2025,09-05-2025
9,NaN,NaN,O164001,C0014,Customer 14,P0755,6,09-11-2025,04/09/2025

**Transformations:**
* skip first 7 rows;
* set the 8th row as column names;
* select only columns containing information (all except the first two columns).

In [19]:
orders_September = pd.read_excel("data/orders_September.xlsx", skiprows=7, header=1).iloc[:, 2:]

orders_September.sort_values(by= 'OrderID').head(10)

,OrderID,CustomerID,CustomerName,ProductID,Quantity,RequestedDeliveryDate,OrderDate
0,O164000,C0134,Customer 134,P0547,18,11/09/2025,09-05-2025
1,O164001,C0014,Customer 14,P0755,6,09-11-2025,04/09/2025
2,O164002,C0162,Customer 162,P0165,11,2025-09-11,09-01-2025
3,O164003,C0279,Customer 279,P0869,19,2025-10-06,2025-09-26
4,O164004,C0008,Customer 8,P0750,18,2025-09-07,2025-09-05
5,O164005,C0298,Customer 298,P0863,8,2025-09-07,02/09/2025
6,O164006,C0471,Customer 471,P0688,15,2025-09-18,09-17-2025
7,O164007,C0593,Customer 593,P0595,2,15/09/2025,09-11-2025
8,O164008,C0792,Customer 792,P0167,20,24/09/2025,09-14-2025
9,O164009,C0359,Customer 359,P0296,10,2025-09-27,2025-09-22

**Notes:** 
* We shall consider removing the `CustomerName` column because it contains the same information as `CustomerID`.
* Dates in `OrderDate` and `RequastedDeliveryDate` are not consistently encoded.
* The order of columns `OrderDate` and `RequastedDeliveryDate` has been reversed.

## `orders_October`

In [20]:
orders_October = pd.read_csv("data/orders_October_bot.csv")

orders_October.head(10)

,"User: Javier Ressogola Last Refresh: Saturday, November 1, 2025, 0:00:00",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate,Comments
1,O172000,C0301,Customer 301,P0786,19,10-08-2025,10-15-2025,Pay in 90 days
2,O172001,C0386,Customer 386,P0848,3,10-19-2025,20/10/2025,NaN
3,O172002,C0903,Customer 903,P0721,5,05/10/2025,2025-10-06,Pay in 90 days
4,O172003,C0034,Customer 34,P0465,1,10-13-2025,2025-10-16,Inform customer once order is sent
5,O172004,C0025,Customer 25,P0504,15,10-16-2025,18/10/2025,Inform customer once order is sent
6,O172005,C0303,Customer 303,P0598,11,2025-10-17,2025-10-25,Pay in 90 days
7,O172006,C0395,Customer 395,P0430,18,20/10/2025,28/10/2025,Pay in 90 days
8,O172007,C0268,Customer 268,P0438,3,10-16-2025,10-20-2025,Pay in 90 days
9,O172008,C0152,Customer 152,P0389,7,20/10/2025,27/10/2025,Inform customer once order is sent

**Transformations:**
* set the first row as column names.

In [21]:
orders_October = pd.read_csv("data/orders_October_bot.csv", header = 1)

orders_October.head(10)

,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate,Comments
0,O172000,C0301,Customer 301,P0786,19,10-08-2025,10-15-2025,Pay in 90 days
1,O172001,C0386,Customer 386,P0848,3,10-19-2025,20/10/2025,NaN
2,O172002,C0903,Customer 903,P0721,5,05/10/2025,2025-10-06,Pay in 90 days
3,O172003,C0034,Customer 34,P0465,1,10-13-2025,2025-10-16,Inform customer once order is sent
4,O172004,C0025,Customer 25,P0504,15,10-16-2025,18/10/2025,Inform customer once order is sent
5,O172005,C0303,Customer 303,P0598,11,2025-10-17,2025-10-25,Pay in 90 days
6,O172006,C0395,Customer 395,P0430,18,20/10/2025,28/10/2025,Pay in 90 days
7,O172007,C0268,Customer 268,P0438,3,10-16-2025,10-20-2025,Pay in 90 days
8,O172008,C0152,Customer 152,P0389,7,20/10/2025,27/10/2025,Inform customer once order is sent
9,O172009,C0162,Customer 162,P0108,18,2025-10-23,10-25-2025,NaN

**Notes:** 
* We shall consider removing the `CustomerName` column because it contains the same information as `CustomerID`.
* Dates in `OrderDate` and `RequastedDeliveryDate` are not consistently encoded.

## `orders_November`

In [22]:
orders_November = pd.read_csv("data/orders_November_bot.csv")

orders_November.head(10)

,"User: Javier Ressogola Last Refresh: Saturday, November 8, 2025, 0:00:00",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate,Comments
1,ORD1100000,CUST2824,Customer_13,PROD859,9,2025-11-02,2025/12/01,Pay in 90 days
2,ORD1100001,CUST2424,Customer_303,PROD532,2,2025-11-01,2025/11/13,Hold until payment confirmed
3,ORD1100002,CUST9928,Customer_215,PROD325,15,05/11/2025,2025/12/11,NaN
4,ORD1100003,CUST7924,Customer_175,PROD384,5,02/11/2025,2025/12/16,Gift packaging requested
5,ORD1100004,CUST5333,Customer_414,PROD144,15,05/11/2025,2025/11/21,NaN
6,ORD1100005,CUST6925,Customer_296,PROD296,3,2025-11-01,2026/01/25,Urgent delivery required
7,ORD1100006,CUST2654,Customer_195,PROD384,15,06/11/2025,12-23-2025,Urgent delivery required
8,ORD1100007,CUST2169,Customer_312,PROD750,6,05/11/2025,2025/12/07,Gift packaging requested
9,ORD1100008,CUST4598,Customer_351,PROD432,2,02/11/2025,11-07-2025,NaN

**Transformations:**
* set the first row as column names.

In [23]:
orders_November = pd.read_csv("data/orders_November_bot.csv", header = 1)

orders_November.head(10)

,OrderID,CustomerID,CustomerName,ProductID,Quantity,OrderDate,RequestedDeliveryDate,Comments
0,ORD1100000,CUST2824,Customer_13,PROD859,9,2025-11-02,2025/12/01,Pay in 90 days
1,ORD1100001,CUST2424,Customer_303,PROD532,2,2025-11-01,2025/11/13,Hold until payment confirmed
2,ORD1100002,CUST9928,Customer_215,PROD325,15,05/11/2025,2025/12/11,NaN
3,ORD1100003,CUST7924,Customer_175,PROD384,5,02/11/2025,2025/12/16,Gift packaging requested
4,ORD1100004,CUST5333,Customer_414,PROD144,15,05/11/2025,2025/11/21,NaN
5,ORD1100005,CUST6925,Customer_296,PROD296,3,2025-11-01,2026/01/25,Urgent delivery required
6,ORD1100006,CUST2654,Customer_195,PROD384,15,06/11/2025,12-23-2025,Urgent delivery required
7,ORD1100007,CUST2169,Customer_312,PROD750,6,05/11/2025,2025/12/07,Gift packaging requested
8,ORD1100008,CUST4598,Customer_351,PROD432,2,02/11/2025,11-07-2025,NaN
9,ORD1100009,CUST6155,Customer_109,PROD771,16,04/11/2025,2026/01/26,Urgent delivery required

**Notes:** 
* We shall consider removing the `CustomerName` column because it contains the same information as `CustomerID`.
* Dates in `OrderDate` and `RequastedDeliveryDate` are not consistently encoded.
* Column `OrderID` is formatted differently than in the rest of orders tables. We should replace the prefix 'ORD' with 'O'.
* Column `CustomerID` is formatted differently than in the rest of orders tables. We should replace the prefix 'CUST' with 'C0'.
* Column `ProductID` is formatted differently than in the rest of orders tables. We should replace the prefix 'PROD' with 'P0'.

# Formatting `orders_` tables

In further analysis we don't need the `CustomerID` column, so we are going to remove it from all `orders_` tables.

In [99]:
def get_month_num(month_name: str) -> int:
    """
    Args
    - month_name: string with name of the month

    Returns
    - int: month number
    """
    months = {
        'January': 1, 'February': 2, 'March': 3, 'April': 4,
        'May': 5, 'June': 6, 'July': 7, 'August': 8,
        'September': 9, 'October': 10, 'November': 11, 'December': 12
    }

    return months.get(month_name)


def parse_order_date(df: pd.DataFrame, month_name: str) -> pd.DataFrame:
    """
    Args
    - df: dataframe with `OrderDate` column
    - month_name: string representing month of order

    Returns
    - dataframe with parsed `OrderDate`
    """

    formats = ['%d-%m-%Y', '%m-%d-%Y', '%Y-%m-%d', '%Y-%d-%m', '%d/%m/%Y', '%m/%d/%Y', '%Y/%m/%d', '%Y/%d/%m']
    
    def parse_single_date(date_str):
        for fmt in formats:
            try:
                dt = pd.to_datetime(date_str, format=fmt)
                if dt.month == get_month_num(month_name):
                    return dt.strftime('%d/%m/%Y')
            # can't parse date using given format
            except ValueError:
                continue
        # can't parse date for any expected format
        return None
        
    df['OrderDate'] = df['OrderDate'].apply(parse_single_date)

    return df

def parse_requested_delivery_date(df: pd.DataFrame) -> pd.DataFrame:
    """
    Args
    - df: dataframe with `OrderDate` and `RequestedDeliveryDate` columns

    Returns
    - dataframe with parsed `RequestedDeliveryDate`
    """
    formats = ['%d-%m-%Y', '%m-%d-%Y', '%Y-%m-%d', '%Y-%d-%m', '%d/%m/%Y', '%m/%d/%Y', '%Y/%m/%d', '%Y/%d/%m']
    
    def parse_single_date(date_str, order_date):
        order_date = pd.to_datetime(order_date, format='%d/%m/%Y')

        potential_delivery_dates = []
        for fmt in formats:
            try:
                dt = pd.to_datetime(date_str, format=fmt)
                if dt >= order_date:
                    potential_delivery_dates.append(dt)
            # can't parse date using given format
            except ValueError:
                continue
        
        if potential_delivery_dates:
            return min(potential_delivery_dates).strftime('%d/%m/%Y')
        
        # can't find a reasonable delivery date
        return None
    
    df['RequestedDeliveryDate'] = df.apply(lambda row: parse_single_date(row['RequestedDeliveryDate'], row['OrderDate']), axis=1)
    return df


def parse_dates(df: pd.DataFrame, month_name: str) -> pd.DataFrame:
    """
    Args
    - df: dataframe with `OrderDate` and `RequestedDeliveryDate` columns
    - month_name: string representing month of order

    Returns
    - dataframe with parsed `OrderDate` and `RequestedDeliveryDate` columns
    """

    df = parse_order_date(df, month_name)
    df = parse_requested_delivery_date(df)

    return df

def orders_table_format(df: pd.DataFrame, month_name: str) -> pd.DataFrame:
    """
    Args
    - df: dataframe with `OrderDate` and `RequestedDeliveryDate` columns
    - month_name: string representing month of order

    Returns
    - dataframe with parsed `OrderDate` and `RequestedDeliveryDate` columns, removed `CustomerName`, `CustomerID` and `Comments` columns, standardized encoding in remaining columns
    """

    df = df.copy()

    if month_name == 'July':
        df = df.rename(columns = {'Column1': 'ProductID'})
        df['ProductID'] = df['ProductID'].str.replace('PRODUCT-', '')

    elif month_name == 'August':
        df.columns = ['OrderID', 'CustomerID', 'CustomerName', 'ProductID', 'Quantity', 'OrderDate', 'RequestedDeliveryDate', 'Comments']

    elif month_name == 'November':
        df['OrderID'] = df['OrderID'].str.replace('ORD', 'O')
        df['CustomerID'] = df['CustomerID'].str.replace('CUST', 'C0')
        df['ProductID'] = df['ProductID'].str.replace('PROD', 'P0')

    df = df.drop(columns = ['CustomerName', 'CustomerID', 'Comments'], errors='ignore')
    df = parse_dates(df, month_name)

    return df

In [100]:
orders_dict = {
    "January": orders_January,
    "February": orders_February,
    "March": orders_March,
    "April": orders_April,
    "May": orders_May,
    "June": orders_June,
    "July": orders_July,
    "August": orders_August,
    "September": orders_September,
    "October": orders_October,
    "November": orders_November
}

orders = []
for month, orders_df in orders_dict.items():
    orders.append(orders_table_format(orders_df, month))

orders = pd.concat(orders, ignore_index=True)
orders

        OrderID ProductID  Quantity   OrderDate RequestedDeliveryDate
0       O100000     P0228        15  20/01/2025            26/01/2025
1       O100001     P0350         9  17/01/2025            18/01/2025
2       O100002     P0555        20  02/01/2025            03/01/2025
3       O100003     P0044         4  12/01/2025            14/01/2025
4       O100004     P0071        11  17/01/2025            26/01/2025
...         ...       ...       ...         ...                   ...
87995  O1107995     P0969        14  02/11/2025            20/01/2026
87996  O1107996     P0934         7  02/11/2025            20/12/2025
87997  O1107997     P0430        16  03/11/2025            21/01/2026
87998  O1107998     P0616         6  05/11/2025            23/01/2026
87999  O1107999     P0245         9  03/11/2025            25/12/2025

[88000 rows x 5 columns]

# Loading rest of the data

## `deliveries`

In [27]:
deliveries = pd.read_excel("data/deliveries.xlsx")

deliveries.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Delivery Information,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,User:,Javier Ressogola,NaN,NaN,NaN,NaN
5,NaN,NaN,Last Refresh:,2025-11-08 00:00:00,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,OrderID,ProductID,DeliveryID,Carrier,ActualDeliveryDate,DeliveryStatus
8,NaN,NaN,O100000,P0574,D000001,FedEx,09-26-2025,On Time
9,NaN,NaN,O100001,P0059,D000002,GLS,2025-06-28,Delayed

In [28]:
deliveries.tail(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
100002,NaN,NaN,O199994,P0334,D099995,UPS,28/07/2025,On Time
100003,NaN,NaN,O199995,P0320,D099996,UPS,2025-07-22,On Time
100004,NaN,NaN,O199996,P0346,D099997,GLS,2025-12-24,On Time
100005,NaN,NaN,O199997,P0118,D099998,GLS,2025-04-22,On Time
100006,NaN,NaN,O199998,P0817,D099999,UPS,09/04/2025,On Time
100007,NaN,NaN,O199999,P0403,D100000,GLS,11-08-2025,On Time
100008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100009,NaN,NaN,Delivery Table,NaN,NaN,NaN,NaN,NaN
100010,NaN,NaN,User:,Javier Ressogola,NaN,NaN,NaN,NaN
100011,NaN,NaN,Last Refresh:,2025-11-08 00:00:00,NaN,NaN,NaN,NaN

**Transformations:**
* skip first 7 rows;
* skip last 4 rows;
* set the 8th row as column names;
* select only columns containing information (all except the first two).

In [29]:
deliveries = pd.read_excel("data/deliveries.xlsx", skiprows=7, skipfooter = 4, header=1).iloc[:, 2:]

deliveries

       OrderID ProductID DeliveryID Carrier ActualDeliveryDate DeliveryStatus
0      O100000     P0574    D000001   FedEx         09-26-2025        On Time
1      O100001     P0059    D000002     GLS         2025-06-28        Delayed
2      O100002     P0045    D000003     GLS         16/01/2025        On Time
3      O100003     P0768    D000004     DHL         2025-01-10        On Time
4      O100004     P0671    D000005     DHL         07-06-2025        Delayed
...        ...       ...        ...     ...                ...            ...
99995  O199995     P0320    D099996     UPS         2025-07-22        On Time
99996  O199996     P0346    D099997     GLS         2025-12-24        On Time
99997  O199997     P0118    D099998     GLS         2025-04-22        On Time
99998  O199998     P0817    D099999     UPS         09/04/2025        On Time
99999  O199999     P0403    D100000     GLS         11-08-2025        On Time

[100000 rows x 6 columns]

**Notes:**
* Date in `ActualDeliveryDate` are not consistently encoded.

**Problem:**
* We need to know when the order was placed to know how to correctly encode the date. For now, we cannot do that, because the `OrderID` does not match the `OrderID` in `orders`.
* We cannot join tables with `orders` and `deliveries`.

**Example showing the problem:**

In [30]:
orders.iloc[0]

OrderID                     O100000
CustomerID                    C0378
ProductID                     P0228
Quantity                         15
OrderDate                20/01/2025
RequestedDeliveryDate    26/01/2025
Name: 0, dtype: object

In [31]:
deliveries.iloc[0]

OrderID                  O100000
ProductID                  P0574
DeliveryID               D000001
Carrier                    FedEx
ActualDeliveryDate    09-26-2025
DeliveryStatus           On Time
Name: 0, dtype: object

`OrderID` should be an unique value assigned to one order. Here we can clearly see that is not the case right now. Order `O100000` was made in January, but also it has arrived on time in September. That doesn't match. `ProductID` does not match either. 

**Problem:**
* There is also a problem with non matching number of records in tables `orders` and `deliveries`. What could be the reason for that?

In [33]:
len(orders)

88000

In [34]:
len(deliveries)

100000

**Hypothesis:** Lost and Damaged packages could be sent again. If it sums to 12000 or more that could explain the disproporion in the number of records in `orders` and `deliveries` tables.

In [35]:
(deliveries['DeliveryStatus'] == 'Lost').sum() + (deliveries['DeliveryStatus'] == 'Damaged').sum()

np.int64(5156)

Lost and Damaged packages does not sum to 12000 or more, so the hypothesis is false.

**Problem:**
* It would be better if `OrderID` and `DeliveryID` had the same numbers but different prefixes: e.g. if `OrderID == O100004`, `DeliveryID` should be `D100004`. We would avoid potential delivery errors.

**Problem:**
* If we had a correct `OrderID` - date connection we could check by ourselves if the package is delayed or if it arrived on time.
* What does an `ActualDeliveryDate` mean in case when `DeliveryStatus` is set to `Lost`? I assume that it is the day the carrier realised the package is lost. What happens in that case? Do we send another one with a different `OrderID`?

**Summary:**
* For now, we don't need a column `ActualDeliveryDate`, because we can't say what date it actually is in some cases (e.g. 1st of March could be interpreted as 3rd of January).
* Since `OrderID` does not match the `OrderID` in table `orders` we could also skip that column. 
* We can assume that `ProductID` is correct and since `DeliveryID` and `DeliveryStatus` is set by the carrier, those columns are also correct.

In [65]:
deliveries = deliveries.drop(columns='ActualDeliveryDate', errors='ignore')
deliveries

       OrderID ProductID DeliveryID Carrier DeliveryStatus
0      O100000     P0574    D000001   FedEx        On Time
1      O100001     P0059    D000002     GLS        Delayed
2      O100002     P0045    D000003     GLS        On Time
3      O100003     P0768    D000004     DHL        On Time
4      O100004     P0671    D000005     DHL        Delayed
...        ...       ...        ...     ...            ...
99995  O199995     P0320    D099996     UPS        On Time
99996  O199996     P0346    D099997     GLS        On Time
99997  O199997     P0118    D099998     GLS        On Time
99998  O199998     P0817    D099999     UPS        On Time
99999  O199999     P0403    D100000     GLS        On Time

[100000 rows x 5 columns]

## `product_master`

In [66]:
product_master = pd.read_excel("data/product_master.xlsx")

product_master.head(10)

,ProductCode,ProductName,FamilyHierarchy (Category > SubCategory)
0,P0001,Lubricating Product 1,Eye Drops > Lubricating
1,P0002,Lubricating Product 2,Eye Drops > Lubricating
2,P0003,Steroid Product 3,Eye Allergy > Steroid
3,P0004,Lubricating Product 4,Eye Drops > Lubricating
4,P0005,Antihistamine Product 5,Eye Allergy > Antihistamine
5,P0006,Advanced Product 6,Eye Vitamins > Advanced
6,P0007,Lubricating Product 7,Eye Drops > Lubricating
7,P0008,Lubricating Product 8,Eye Drops > Lubricating
8,P0009,Sensitive Product 9,Eye Wipes > Sensitive
9,P0010,Sensitive Product 10,Eye Wipes > Sensitive

**No transformations needed.**

**Notes:**
* Column `ProductCode` should be renamed to `ProductID`.
* We could split the `FamilyHierarchy (Category > SubCategory)` column to two columns `ProductCategory`, `ProductSubCategory`.

In [67]:
if 'ProductCode' in product_master.columns:
    product_master.rename(columns={'ProductCode': 'ProductID'}, inplace=True)

if 'FamilyHierarchy (Category > SubCategory)' in product_master.columns:
    product_master[['ProductCategory', 'ProductSubCategory']] = product_master['FamilyHierarchy (Category > SubCategory)'].str.split(' > ', expand=True)
    product_master.drop(columns=['FamilyHierarchy (Category > SubCategory)'], inplace=True)

product_master

    ProductID                ProductName ProductCategory ProductSubCategory
0       P0001      Lubricating Product 1       Eye Drops        Lubricating
1       P0002      Lubricating Product 2       Eye Drops        Lubricating
2       P0003          Steroid Product 3     Eye Allergy            Steroid
3       P0004      Lubricating Product 4       Eye Drops        Lubricating
4       P0005    Antihistamine Product 5     Eye Allergy      Antihistamine
..        ...                        ...             ...                ...
895     P0896          Daily Product 896    Eye Vitamins              Daily
896     P0897  Antihistamine Product 897     Eye Allergy      Antihistamine
897     P0898    Lubricating Product 898       Eye Drops        Lubricating
898     P0899    Lubricating Product 899       Eye Drops        Lubricating
899     P0900  Antihistamine Product 900     Eye Allergy      Antihistamine

[900 rows x 4 columns]

## `complaints`

In [105]:
complaints = pd.read_excel("data/complaints.xlsx")

complaints.head(10)

  ComplaintID DeliveryID  OrderID ProductID                           Issue
0    CPL00014    D000014  O100013   00P0136  Package damaged during transit
1    CPL00030    D000030  O100029     P0222  Package damaged during transit
2    CPL00034    D000034  O100033     P0753  Package damaged during transit
3    CPL00056    D000056  O100055   00P0848  Package damaged during transit
4    CPL00123    D000123  O100122     P0599  Package damaged during transit
5    CPL00299    D000299  O100298     P0129  Package damaged during transit
6    CPL00379    D000379  O100378     P0796  Package damaged during transit
7    CPL00410    D000410  O100409     P0142  Package damaged during transit
8    CPL00457    D000457  O100456   00P0379  Package damaged during transit
9    CPL00488    D000488  O100487     P0805  Package damaged during transit

**No transformations needed.**

**Notes:**
* Some `ProductID`s has '00' prefix we should delete. 
* Tables `complaints` and `deliveries` match on `DeliveryID` and `OrderID`. That means we could join those tables. 
* Notice that `Issue` is always the same. We could skip that column, because it wouldn't matter in further analysis.
* Although, it is good that `ComplaintID` is connected to the `DeliveryID`, there might be an issue if the ID was >= 100 000. We should add one more '0' in between the 'CPL-' prefix and an ID. For now, it does not generate any problems, but it could cause a problem in the future.

In [106]:
complaints['ProductID'] = complaints['ProductID'].str.replace(r'^00', '', regex=True)

complaints.head(15)

   ComplaintID DeliveryID  OrderID ProductID                           Issue
0     CPL00014    D000014  O100013     P0136  Package damaged during transit
1     CPL00030    D000030  O100029     P0222  Package damaged during transit
2     CPL00034    D000034  O100033     P0753  Package damaged during transit
3     CPL00056    D000056  O100055     P0848  Package damaged during transit
4     CPL00123    D000123  O100122     P0599  Package damaged during transit
5     CPL00299    D000299  O100298     P0129  Package damaged during transit
6     CPL00379    D000379  O100378     P0796  Package damaged during transit
7     CPL00410    D000410  O100409     P0142  Package damaged during transit
8     CPL00457    D000457  O100456     P0379  Package damaged during transit
9     CPL00488    D000488  O100487     P0805  Package damaged during transit
10    CPL00522    D000522  O100521     P0001  Package damaged during transit
11    CPL00711    D000711  O100710     P0054  Package damaged during transit
12    CPL00753    D000753  O100752     P0851  Package damaged during transit
13    CPL00820    D000820  O100819     P0232  Package damaged during transit
14    CPL00822    D000822  O100821     P0625  Package damaged during transit

In [108]:
print(complaints['Issue'].nunique())
print(complaints['Issue'].isna().sum())

1
0

The code above confirms, that there is only one unique value and zero missing values in the `Issue` column, which means we could skip it.

In [109]:
complaints = complaints.drop(columns='Issue', errors='ignore')

In [110]:
(deliveries['DeliveryStatus'] == 'Damaged').sum()

np.int64(2100)

All Damaged packages (with `DeliveryStatus == Damaged`) are listed in `complaints` table. We could join `deliveries` and `complaints` to add a column `Carrier` to `complaints` to have easier access to that information later in the analysis.

In [111]:
complaints = complaints.drop(columns='Carrier', errors='ignore')

complaints = complaints.merge(
    deliveries[['OrderID', 'Carrier']],
    on='OrderID',
    how='left'
)
complaints

     ComplaintID DeliveryID  OrderID ProductID Carrier
0       CPL00014    D000014  O100013     P0136     UPS
1       CPL00030    D000030  O100029     P0222     GLS
2       CPL00034    D000034  O100033     P0753     DHL
3       CPL00056    D000056  O100055     P0848     DHL
4       CPL00123    D000123  O100122     P0599   FedEx
...          ...        ...      ...       ...     ...
2095    CPL99688    D099688  O199687     P0445     DHL
2096    CPL99821    D099821  O199820     P0629   FedEx
2097    CPL99905    D099905  O199904     P0538     GLS
2098    CPL99911    D099911  O199910     P0865     UPS
2099    CPL99942    D099942  O199941     P0643   FedEx

[2100 rows x 5 columns]

In further analysis, we are going to need information about the products in that table. We could also join `product_master` and `complaints` to add columns `ProductName`, `ProductCategory` and `ProductSubCategory` to `complaints` to have easier access to that information later in the analysis.

In [112]:
complaints = complaints.drop(columns=['ProductName', 'ProductCategory', 'ProductSubCategory'], errors='ignore')

complaints = complaints.merge(
    product_master[['ProductID', 'ProductName', 'ProductCategory', 'ProductSubCategory']],
    on='ProductID',
    how='left'
)
complaints

,ComplaintID,DeliveryID,OrderID,ProductID,Carrier,ProductName,ProductCategory,ProductSubCategory
0,CPL00014,D000014,O100013,P0136,UPS,Lubricating Product 136,Eye Drops,Lubricating
1,CPL00030,D000030,O100029,P0222,GLS,Regular Product 222,Eye Wipes,Regular
2,CPL00034,D000034,O100033,P0753,DHL,Steroid Product 753,Eye Allergy,Steroid
3,CPL00056,D000056,O100055,P0848,DHL,Daily Product 848,Eye Vitamins,Daily
4,CPL00123,D000123,O100122,P0599,FedEx,Steroid Product 599,Eye Allergy,Steroid
...,...,...,...,...,...,...,...,...
2095,CPL99688,D099688,O199687,P0445,DHL,Antihistamine Product 445,Eye Allergy,Antihistamine
2096,CPL99821,D099821,O199820,P0629,FedEx,Regular Product 629,Eye Wipes,Regular
2097,CPL99905,D099905,O199904,P0538,GLS,Antibiotic Product 538,Eye Drops,Antibiotic
2098,CPL99911,D099911,O199910,P0865,UPS,Advanced Product 865,Eye Vitamins,Advanced
2099,CPL99942,D099942,O199941,P0643,FedEx,Advanced Product 643,Eye Vitamins,Advanced

# Saving cleaned data

In [113]:
with pd.ExcelWriter('cleaned_data.xlsx', engine = 'openpyxl') as w:
    orders.to_excel(w, index=False, sheet_name = 'orders')
    deliveries.to_excel(w, index=False, sheet_name = 'deliveries')
    product_master.to_excel(w, index=False, sheet_name = 'product_master')
    complaints.to_excel(w, index=False, sheet_name='complaints')